body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {

  width: 1920px;
  height: 1080px;
  padding: 0px;
  flex: 1;
  overflow-x: hidden;
}

/* 1080px height 1920px width */
* {
  font-family: 'Noto Sans KR', sans-serif;
  
}

/* 전체 레이아웃 시작 */
/* #root{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hillntoe-container {
  background: white;
  position: relative;
} */
/* 전체 레이아웃 끝 */